<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageFile</key>
		<string>photoFrame480x513</string>
		<key>Name</key>
		<string>Photo Frame</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>ImageFile</key>
		<string>light-blue-bar</string>
		<key>Name</key>
		<string>Background Image</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>green-bg</string>
		<key>Name</key>
		<string>Completed Image</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>yellow-back</string>
		<key>Name</key>
		<string>Late Visit Image</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>cancel-bg</string>
		<key>Name</key>
		<string>Canceled Image</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>arrive-blue-100x100</string>
		<key>Name</key>
		<string>Arrived Icon</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>CompassRoseCPC-Regular</string>
		<key>Name</key>
		<string>Pet Name</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
		<key>fontSize</key>
		<string>18</string>
		<key>textWidth</key>
		<string>240</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>CompassRoseCPC-Regular</string>
		<key>Name</key>
		<string>Service Name</string>
		<key>Show</key>
		<string>YES</string>
		<key>coordinateX</key>
		<string></string>
		<key>coordinateY</key>
		<string></string>
		<key>fontSize</key>
		<string>16</string>
		<key>textWidth</key>
		<string>240</string>
	</dict>
</array>
</plist>
