<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Filename</key>
		<string>dog-poo</string>
		<key>Label</key>
		<string>POO</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>5</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>dog-pee-firehydrant</string>
		<key>Label</key>
		<string>PEE</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>45</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>happy-icon-red</string>
		<key>Label</key>
		<string>HAPPY</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>85</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>sad-dog-red</string>
		<key>Label</key>
		<string>SAD</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>125</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>angry-icon-red</string>
		<key>Label</key>
		<string>ANGRY</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>165</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>sick-icon-red</string>
		<key>Label</key>
		<string>SICK</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>205</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>hungry-icon-red</string>
		<key>Label</key>
		<string>HUNGRY</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>245</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>play-icon-red</string>
		<key>Label</key>
		<string>PLAY</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>285</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
	<dict>
		<key>Filename</key>
		<string>kitty-litter</string>
		<key>Label</key>
		<string>LITTER</string>
		<key>showLabel</key>
		<string></string>
		<key>size</key>
		<string>32</string>
		<key>coordinateX</key>
		<string>325</string>
		<key>coordinateY</key>
		<string>140</string>
	</dict>
</array>
</plist>
